.body {
    background-color: whitesmoke;
}

.topBox {
    background-color: lightblue;
}

.navbar{
    border:solid black;
    background-color: whitesmoke;
    height:22vh;
    width:60vh;
    display: inline-block;
    margin-left: 6em;
    margin-top: 1em;
    margin-bottom: 1em;

}
.Name {
    text-align: center;
    font-size: 350%;
}

.Separator {
    text-align: center;
    position: relative;
    bottom: 30px;
}

.jobTitle {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.introContainer{
    /* border:solid blue; */
    height:22vh;
    margin:25px;
    display:flex;
    justify-content: space-evenly;
    padding:4px;
}

.imgAvatar, .imgContainer {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}

.skillsContainer{
    /* border: 1px pink; */
    height:22vh;
    margin:25px;
    display:flex;
    justify-content: space-evenly;
    padding:4px;
}
.xpContainer{
    /* border:solid purple; */
    height:22vh;
    margin:25px;
    display:flex;
}
.profileContainer, .imgContainer, .contactContainer{
    /* border:solid lightblue; */
    width:33%;
}

.genericTitle {
    text-align: center;
    text-decoration: underline;
}

.genericTxt {
    text-align: left;
    margin: .2em;
}

.genericList {
    text-align:center;
    margin: .2em;
    padding: 1em;
    /* border: solid black; */
}
.contactInfo {
    text-align: left;
    text-decoration: underline;
    padding: 1em;
    margin: .2em;
}
.eduContainer, .assetContainer, .industryContainer{
    /* border:solid orange; */
    width:33%;
}
.left{
    /* border:solid green; */
    width:70%;
}
.right{
    /* border:solid purple; */
    width:30%;
    font-size: larger;
    margin: 1em;
}